.maindiv {
    height: 130vh;
    background-image: url('https://expert-themes.com/html/sola/images/main-banner/banner-bg.png');
    background-position: center;
    background-size: cover;

    .mainSection {
        .addition {
            align-items: center;
            height: 4rem;

            .contact {}
        }
    }
}